@using RepoMZ2
@model System.Collections.Generic.List<RepoMZ2.Kategori>
@{
    ViewBag.Title = "Index";
}
@section head
{

    <link href="~/Content/Styles/AdminMain.min.css" rel="stylesheet" />

}
<h1>Rediger kategorier</h1>
<p><button onclick="window.location='/Admin/AKategori/Add/';">Opret ny kategori</button></p>


<div class="listTB">
    

    @foreach (Kategori kat in Model)
    {
        <div class="rowi">
            <div>@kat.Navn</div>

            <div><a href="/Admin/Akategori/Edit/@kat.ID/">Rediger</a> <a href="/Admin/Akategori/Delete/@kat.ID/" onclick="javascript:return confirm('Er du sikker på at du vil slette @kat.Navn?');">Slet</a>
            </div>
            <div style="clear: both;"></div>
        </div>    
    }

</div>