body {
    background-color: #212121;
    color: #ffffff;
    font-family: arial;
    height: 100%;
  }


.pnlLogin {
    width: 300px;
    height: 150px;
    margin: 0 auto 0 auto;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

#logo {
    
   
}

#wrapper {
    width: 179px;
    margin: 0 auto 0 auto;
    height: 70px;
}
.loginBtn {
    width: 179px;
    margin: 0 auto 0 auto;
  
}

.loginTxt {
    width: 175px;
    margin: 0 auto 5px auto;
    
}
